<h1>Benton County Public Memorial Library Management System</h1>
<div class="homepageDescription">
    <p>Welcome to the Benton County Public Memorial Library Management System. Use the links above to navigate.
        <br><br>
        Group members: <br>
        - Mael Pierre <br>
        - Lauren Rigsby <br>
       
    </p>
</div>