{{! CREATE form }}
<h2>Create a Person</h2>
<form class='cuForm' id='create_person_form' method='POST' action='/members-new'>
    {{! First Name, Last Name, Homeworld, Age }}
    <label for='create_person_first_name'>First Name: </label>
    <input type='text' name='create_person_first_name' id='create_person_first_name' required />
    <br>

    <label for='create_person_last_name'>Last Name: </label>
    <input type='text' name='create_person_last_name' id='create_person_last_name' />
    <br>

    <label for='create_person_address'>Address: </label>
    <input type='text' name='create_person_address' id='create_person_address' />
    <br>

    <label for='create_person_email'>Email: </label>
    <input type='email' name='create_person_email' id='create_person_email' />  
    <br>

    <label for='create_person_phone_number'>Phone Number: </label>
    <input type='text' name='create_person_phone_number' id='create_person_phone_number' />
    <br>

    <input type='submit' id= 'submit_button'/>
</form>
