h1, h2 {
    margin-left: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table {
    border-collapse: collapse;margin-left: 32px;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
    
.cuForm { 
    margin-left: 32px;
}

input, select { 
    margin-bottom: 4px;margin-right: 12px;
}

nav {
    background-color: #cecece;
    padding: 16px;
}

a {
    margin-left: 16px;
}

button{
    outline: black solid 1px;
    border-radius: 5px;
}

.homepageDescription {
    margin-left: 32px;
}

.cuForm label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

#submit_button {
    margin-left: 162px;
    outline: black solid 1px;
    border-radius: 5px;
    background-color: #77d21d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#delete_button {
    outline: black solid 1px;
    border-radius: 5px;
    background-color: #f44335;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#add_button {
    outline: black solid 1px;
    border-radius: 5px;
    background-color: #77d21d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#change_button {
    outline: black solid 1px;
    border-radius: 5px;
    background-color: #cd32e5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;